/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
body{
  font-family:Arial,"STHeiti", Helvetica, sans-serif;
  background:#fff;
  font-size:14px;
  height:100%;
  max-width:750px;
  min-width:20pc;
  line-height:1.5;
  -webkit-tap-highlight-color: transparent;
}
table{
  border-collapse:collapse;
  border-spacing:0
}
fieldset, img{
  border:0
}
legend{
  display:none
}
address, caption, cite, code, dfn, em, strong, th, var{
  font-style:normal;
  font-weight:normal
}
ol, ul{
  list-style:none
}
caption, th{
  text-align:left
}
h1, h2, h3, h4, h5, h6{
  font-size:100%;
  font-weight:normal
}
q:before, q:after{
  content:''
}
abbr, acronym{
  border:0
}
html{-webkit-text-size-adjust:none;width:100%;height:100% } /*????iphone??safari????????????*/
input[type="text"], input[type="button"], input[type="submit"], input[type="search"]{
  -webkit-appearance:none;
  border-radius:0;
}

html, body { position: relative;}

/******************正文***********************/
.page-box{
  width:100%;
  height:100%;
  overflow: hidden;
  position: relative;
}
#loadingPage{
  width:100%;
  height:100%;
  position: absolute;
  left:0;
  top:0;
  z-index: 999;
  background:#E1E7EB;
  #img-load-now{
    position: absolute;top:70%;left:50%;transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);color:#000000;
  }
}
.mask{ text-align: center;margin-top: 680/75rem;font-size: 32/75rem;color:#666666; }
.mask span{color:#666666;font-size: 32/75rem;}
.loading{width:400/75rem; height: 100/75rem;background-image:url(../img/loading.gif);background-size:400/75rem 100/75rem;position: absolute;top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);}
   
        
 #animation_container {
    position:absolute;
    margin:auto;
    left:0;right:0;
    top:0;bottom:0;

  }
  div.hide{
    top:-100%;
    transition: all 0.3s ease-in; 
    -webkit-transition: all 0.3s ease-in; 
    opacity: 0;
    
//  position: absolute;
}
                    
.btn-music{width: 53/75rem; height: 54/75rem;position: absolute; top:18/75rem; right:86/75rem; z-index: 100;}
            .open-music{animation: music-btn 3s linear infinite; -webkit-animation: music-btn 3s linear infinite;}
            .music{width:100%; height: 100%;}
            @-webkit-keyframes music-btn{
                   form{
                     -webkit-transform: rotateZ(0deg);
                     transform:rotateZ(0deg);
                   }
                   to{
                      -webkit-transform: rotateZ(360deg);
                     transform:rotateZ(360deg);
                   }  
            }   
            @keyframes music-btn{
                form{
                  -webkit-transform: rotateZ(0deg);
                  transform:rotateZ(0deg);
                }
                to{
                  -webkit-transform: rotateZ(360deg);
                  transform:rotateZ(360deg);
                }
            }

div.page-box div.information.show{
//  position: absolute;
    top:0;
     transition: all 0.3s ease-in; 
    -webkit-transition: all 0.3s ease-in; 
    opacity: 1;
}

div.page-box div.userInfo-box.shaw{
    top:100%;
     transition: all 0.3s ease-in; 
    -webkit-transition: all 0.3s ease-in; 
    opacity: 1;
}
div.page-box div.userInfo-box.shew{
    top:0;
     transition: all 0.3s ease-in; 
    -webkit-transition: all 0.3s ease-in; 
    opacity: 1;
}











//表单页

ul{
    list-style: none;
}
input,select{
    border:0;
    outline:none;
}
.information{width: 100%; height: 100%; background: #1a1f20; position: absolute;opacity: 0;top:100%;left:0;}
.inf-01{width: 100%; height: 667/75rem; position: absolute; top: 0; left: 0;}
.inf-text{width:625/75rem; height: 49/75rem; position: absolute; bottom: 767/75rem; left:69/75rem; opacity: 0;}
.inf-02{width: 612/75rem; height: 146/75rem; position: absolute; bottom: 621/75rem; left:69/75rem; opacity: 0; } 
.inf-03{width: 612/75rem; height: 179/75rem; position: absolute; bottom: 426/75rem; left:69/75rem; opacity: 0; } 
.inf-04{width: 612/75rem; height: 251/75rem; position: absolute; bottom: 160/75rem; left:69/75rem; opacity: 0;} 
.inf-05{width: 356/75rem; height: 100/75rem; position: absolute; bottom: 46/75rem; left:197/75rem;  opacity: 0;} 
.text{-webkit-animation: aa 0.4s 0.4s ease forwards; animation: aa 0.4s 0.4s ease forwards;}
.aa01{-webkit-animation: fadeIn 0.8s 0.5s ease forwards; animation: fadeIn 0.8s 0.5s ease forwards;}
.aa02{-webkit-animation: fadeIn 0.8s 0.8s ease forwards; animation: fadeIn 0.8s 0.8s ease forwards;}
.aa03{-webkit-animation: fadeIn 0.8s 1s ease forwards; animation: fadeIn 0.8s 1s ease forwards;}
.bb{-webkit-animation: bounceIn 0.8s 1.5s ease forwards; animation: bounceIn 0.8s 1.5s ease forwards;}
.join-click{
  opacity: 1;
  animation: joinClick 4s ease infinite ;
  -webkit-animation: joinClick 4s ease infinite ;
}
@-webkit-keyframes aa{
   0%{opacity: 0;}
   100%{opacity: 1;}
}
@keyframes aa{
   0%{opacity: 0;}
   100%{opacity: 1;}  
}
@keyframes fadeIn {
  0%,60%,75%,90%,100%{-webkit-transition-timing-function:cubic-bezier(0.215,.610,.355,1.000);transition-timing-function:cubic-bezier(0.215,.610,.355,1.000)}
  0%{opacity:0;-webkit-transform:translate3d(1500/75rem,0,0);transform:translate3d(1500/75rem,0,0)}
  60%{opacity:1;-webkit-transform:translate3d(-50/75rem,0,0);transform:translate3d(-50/75rem,0,0)}
  75%{-webkit-transform:translate3d(20/75rem,0,0);transform:translate3d(20/75rem,0,0)}
  90%{-webkit-transform:translate3d(-10/75rem,0,0);transform:translate3d(-10/75rem,0,0)}
  100%{opacity:1;-webkit-transform:none;-ms-transform:none;transform:none}
}
@-webkit-keyframes fadeIn {
  0%,60%,75%,90%,100%{-webkit-transition-timing-function:cubic-bezier(0.215,.610,.355,1.000);transition-timing-function:cubic-bezier(0.215,.610,.355,1.000)}
  0%{opacity:0;-webkit-transform:translate3d(1500/75rem,0,0);transform:translate3d(1500/75rem,0,0)}
  60%{opacity:1;-webkit-transform:translate3d(-50/75rem,0,0);transform:translate3d(-50/75rem,0,0)}
  75%{-webkit-transform:translate3d(20/75rem,0,0);transform:translate3d(20/75rem,0,0)}
  90%{-webkit-transform:translate3d(-10/75rem,0,0);transform:translate3d(-10/75rem,0,0)}
  100%{opacity:1;-webkit-transform:none;-ms-transform:none;transform:none}
}
@keyframes bounceIn{
  0%,20%,40%,60%,80%,100%{-webkit-transition-timing-function:cubic-bezier(0.215,.610,.355,1.000);transition-timing-function:cubic-bezier(0.215,.610,.355,1.000)}
  0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}
  20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}
  40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}
  60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}
  80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}
  100%{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}
@-webkit-keyframes bounceIn{
  0%,20%,40%,60%,80%,100%{-webkit-transition-timing-function:cubic-bezier(0.215,.610,.355,1.000);transition-timing-function:cubic-bezier(0.215,.610,.355,1.000)}
  0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}
  20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}
  40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}
  60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}
  80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}
  100%{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}
@keyframes joinClick {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  2.5%, 5% {
    -webkit-transform: scale(.95) rotate3d(0, 0, 1, -2deg);
    transform: scale(.95) rotate3d(0, 0, 1, -2deg);
  }

  7.5%, 12.5%, 17.5%, 22.5% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, 2deg);
    transform: scale(1.05) rotate3d(0, 0, 1, 2deg);
  }

  10%, 15%, 20% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, -2deg);
    transform: scale(1.05) rotate3d(0, 0, 1, -2deg);
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes joinClick {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  2.5%, 5% {
    -webkit-transform: scale(.95) rotate3d(0, 0, 1, -2deg);
    transform: scale(.95) rotate3d(0, 0, 1, -2deg);
  }

  7.5%, 12.5%, 17.5%, 22.5% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, 2deg);
    transform: scale(1.05) rotate3d(0, 0, 1, 2deg);
  }

  10%, 15%, 20% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, -2deg);
    transform: scale(1.05) rotate3d(0, 0, 1, -2deg);
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.userInfo{
    display:none;
    background:rgba(0,0,0,0.6);
    width:100%;
    height:100%;
    box-sizing:border-box;
    position: absolute;
    left:0;
    bottom:0;
}
.userInfo-box{
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width:100%;
    height:100%;
    background:#fff;
    position: absolute;
    left:0;
    top:200%;
    opacity: 0;
    padding:45/75rem 74/75rem;   
    transition: all 0.5s linear;-webkit-transition: all 0.5s linear;
.input-title{
    width: 615/75rem;
    height: 79/75rem;
    color:#fff;
    background:#2b69b6;
    font-size: 45/75rem;
    position: absolute;
    top:102/75rem;
    font-family: '微软雅黑';
    font-style: italic;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 98% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 98% 100%, 0% 100%);
    text-align: left;
    line-height: 75/75rem;
    margin-bottom:10/75rem;
    span{
        font-size: 56/75rem;
        margin-left: 28/75rem;
    }
}
    .userInfo-title{
        width:116/75rem;
        color:#001c58;
        font-size:28/75rem;
        padding-bottom:6/75rem;
//      margin-bottom:30/75rem;
        border:1px solid transparent;
        border-bottom: 1px solid #A0A0A0;
    }
    .userInfo-tip{
        font-size:21/75rem;
        margin-top: 170/75rem;
        margin-bottom:20/75rem
        
    }
    .input-form {
        box-sizing: border-box;
        width: 608/75rem;
        margin-top: 312/75rem;
        margin-left: -5/75rem;
        li.red {
            border: 1px solid #c01c1c;
            -webkit-box-shadow: 0 0 2px #c01c1c;
            -moz-box-shadow: 0 0 2px #c01c1c;
            box-shadow: 0 0 2px #c01c1c;
        }
        li {
            box-sizing: border-box;
            border: 1px solid #A0A0A0;
            //border-radius: 3px;
            width: 100%;
            height: 56/75rem;
            margin-bottom: 16/75rem;
            font-size: 22/75rem;
            position: relative;
            //span.firstspan{border-radius: 1px 0 0 1px}
            span {
                color: #fff;
                position: absolute;
                left: -3/75rem;
                top: -1/75rem;
                width: 111/75rem;
                height: 55/75rem;
                line-height: 55/75rem;
                text-align: center;
                background: #2b69b6;
            }
            input {
                padding-left: 114/75rem;
                box-sizing: border-box;
                width: 100%;
                height: 100%;

            }
            select {
                float: right;
                -webkit-padding-left: 113/75rem;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                width: 494/75rem;
                height: 100%;
                background: transparent;
                border-radius: 0;
                color: #999;
            }
        }
        li.province-city {
            border: 0;
            width:100%;
            select.ddlProvince {
                float: left;
                box-sizing: border-box;
                width: 296/75rem;
                margin-right: 10/75rem;
                height: 50/75rem;
                border: 1px solid #A0A0A0;
            }
            select.ddlCity {
                float: right;
                box-sizing: border-box;
                width: 296/75rem;
                height: 50/75rem;
                border: 1px solid #A0A0A0;
            }
        }
        li.province-city:after {
            content: '';
            display: none;
            clear: both;
        }
    }
    .input-form-right,.input-form-right img{
        float:right;
        width:609/75rem;
        height:239/75rem;
    }
    .btn-userInfo{
        box-sizing:border-box;
        float:right;
        width:609/75rem;
        margin-top:23/75rem;
        height:50/75rem;
        line-height: 50/75rem;
        //background:#3569B4;
        //-webkit-clip-path: polygon(2% 0%, 100% 0%, 98% 100%, 0% 100%);
        //clip-path: polygon(2% 0%, 100% 0%, 98% 100%, 0% 100%);
        margin-bottom:23/75rem;
        position: relative;
        p{
            position: absolute;
            top:0;
            right:114/75rem;
            //margin-right:114/133.4rem;
            width:396/75rem;
            height:100%;
            color:#336fb9;
            font-size:26/75rem;
            text-align: center;
            border: solid #336fb9 1.5px;
        }
    }
    a#rule-icon{
        //position: absolute;
        float:right;
        text-align: right;
        //right:0;
        width:609/75rem;
        font-size: 23/75rem;
        color:#434343;
        text-decoration:underline;
    }
}
.action-rules{
    padding:45/75rem 50/75rem;
    box-sizing:border-box;
    position: absolute;
    width:578/75rem;
    height:944/75rem;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    background:#fff;
    overflow:hidden;
    border: solid #E9E9E9 1px;
    -webkit-box-shadow:0 0 7px #ccc;
    -moz-box-shadow:0 0 7px #ccc;
    box-shadow:0 0 7px #ccc;
    border: solid #E9E9E9 1px;
    -webkit-box-shadow:0 0 7px #000;
    -moz-box-shadow:0 0 7px #000;
    box-shadow:0 0 7px #000;
    border-radius: 8px;
    
#close-rules{
        position: absolute;
        top:5px;
        right:5px;

}
    h1{
        color:#061C57;
        font-size:36/75rem;
        margin-bottom:12/75rem;
    }
    h2{
        color:#000;
        text-decoration:underline;
        font-size: 30/75rem;
        margin:12/75rem ;
        margin-top: 26/75rem;
        text-align: left;
        
    }
    h4{
        color:#242424;
        font-size: 24/75rem;
        text-align: left;
        line-height: 180%;
    }
}
.close{
    position:absolute;
    top:3px;
    right:3px;
    font-size: 45/75rem;
    width:90/75rem;
    height:60/75rem;
    text-align: center;
    line-height:60/75rem;
    color: #666;
}
.prize-result{
    box-sizing:border-box;
    width:570/75rem;
    height:340/75rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    background:#fff;
    border: solid #E9E9E9 1px;
    -webkit-box-shadow:0 0 7px #ccc;
    -moz-box-shadow:0 0 7px #ccc;
    box-shadow:0 0 7px #ccc;
    border-radius: 10px;
    .prize-result-info{
        box-sizing:border-box;
        position: absolute;
        width:100%;
        padding:65/75rem;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        h1{
            font-size:36/75rem;
            text-align: center;
            i{
                display: inline-block;
                border-bottom: 1px solid #B28850;
                padding-bottom: 25/75rem;
                margin-bottom: 25/75rem;
            }
        }
        p{
            font-size:28/75rem;
            text-align: center;
        }
        .get{
            color:#890606;
        }
        .notGet{
            color:#2B69B6;
        }
    }
}