/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
body {
  font-family: Arial, "STHeiti", Helvetica, sans-serif;
  background: #fff;
  font-size: 14px;
  height: 100%;
  max-width: 750px;
  min-width: 20pc;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
legend {
  display: none;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
html {
  -webkit-text-size-adjust: none;
  width: 100%;
  height: 100%;
}
/*????iphone??safari????????????*/
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0;
}
html,
body {
  position: relative;
}
/******************正文***********************/
.page-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#loadingPage {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  background: #E1E7EB;
}
#loadingPage #img-load-now {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: #000000;
}
.mask {
  text-align: center;
  margin-top: 9.06666667rem;
  font-size: 0.42666667rem;
  color: #666666;
}
.mask span {
  color: #666666;
  font-size: 0.42666667rem;
}
.loading {
  width: 5.33333333rem;
  height: 1.33333333rem;
  background-image: url(../img/loading.gif);
  background-size: 5.33333333rem 1.33333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
#animation_container {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
div.hide {
  top: -100%;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  opacity: 0;
}
.btn-music {
  width: 0.70666667rem;
  height: 0.72rem;
  position: absolute;
  top: 0.24rem;
  right: 1.14666667rem;
  z-index: 100;
}
.open-music {
  animation: music-btn 3s linear infinite;
  -webkit-animation: music-btn 3s linear infinite;
}
.music {
  width: 100%;
  height: 100%;
}
@-webkit-keyframes music-btn {
  form {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes music-btn {
  form {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
div.page-box div.information.show {
  top: 0;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  opacity: 1;
}
div.page-box div.userInfo-box.shaw {
  top: 100%;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  opacity: 1;
}
div.page-box div.userInfo-box.shew {
  top: 0;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  opacity: 1;
}
ul {
  list-style: none;
}
input,
select {
  border: 0;
  outline: none;
}
.information {
  width: 100%;
  height: 100%;
  background: #1a1f20;
  position: absolute;
  opacity: 0;
  top: 100%;
  left: 0;
}
.inf-01 {
  width: 100%;
  height: 8.89333333rem;
  position: absolute;
  top: 0;
  left: 0;
}
.inf-text {
  width: 8.33333333rem;
  height: 0.65333333rem;
  position: absolute;
  bottom: 10.22666667rem;
  left: 0.92rem;
  opacity: 0;
}
.inf-02 {
  width: 8.16rem;
  height: 1.94666667rem;
  position: absolute;
  bottom: 8.28rem;
  left: 0.92rem;
  opacity: 0;
}
.inf-03 {
  width: 8.18666667rem;
  height: 2.38666667rem;
  position: absolute;
  bottom: 5.68rem;
  left: 0.92rem;
  opacity: 0;
}
.inf-04 {
  width: 8.2rem;
  height: 2.29333333rem;
  position: absolute;
  bottom: 3.06666667rem;
  left: 0.92rem;
  opacity: 0;
}
.inf-05 {
  width: 4.74666667rem;
  height: 1.33333333rem;
  position: absolute;
  bottom: 0.61333333rem;
  left: 2.62666667rem;
  opacity: 0;
}
.inf-06 {
  width: 6.76rem;
  height: 0.89333333rem;
  position: absolute;
  bottom: 2.13333333rem;
  left: 0.90666667rem;
  opacity: 0;
}
.text {
  -webkit-animation: aa 0.4s 0.6s ease forwards;
  animation: aa 0.4s 0.6s ease forwards;
}
.aa01 {
  -webkit-animation: fadeIn 0.8s 0.7s linear forwards;
  animation: fadeIn 0.8s 0.7s linear forwards;
}
.aa02 {
  -webkit-animation: fadeIn 0.8s 1s linear forwards;
  animation: fadeIn 0.8s 1s linear forwards;
}
.aa03 {
  -webkit-animation: fadeIn 0.8s 1.3s linear forwards;
  animation: fadeIn 0.8s 1.3s linear forwards;
}
.bb {
  -webkit-animation: bounceIn 0.6s 1.6s linear forwards;
  animation: bounceIn 0.6s 1.6s linear forwards;
}
.join-click {
  opacity: 1;
  animation: joinClick 4s ease infinite ;
  -webkit-animation: joinClick 4s ease infinite ;
}
@-webkit-keyframes aa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20rem, 0, 0);
    transform: translate3d(20rem, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-0.66666667rem, 0, 0);
    transform: translate3d(-0.66666667rem, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(0.26666667rem, 0, 0);
    transform: translate3d(0.26666667rem, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-0.13333333rem, 0, 0);
    transform: translate3d(-0.13333333rem, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeIn {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20rem, 0, 0);
    transform: translate3d(20rem, 0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(-0.66666667rem, 0, 0);
    transform: translate3d(-0.66666667rem, 0, 0);
  }
  75% {
    -webkit-transform: translate3d(0.26666667rem, 0, 0);
    transform: translate3d(0.26666667rem, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-0.13333333rem, 0, 0);
    transform: translate3d(-0.13333333rem, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes joinClick {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  2.5%,
  5% {
    -webkit-transform: scale(0.95) rotate3d(0, 0, 1, -2deg);
    transform: scale(0.95) rotate3d(0, 0, 1, -2deg);
  }
  7.5%,
  12.5%,
  17.5%,
  22.5% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, 2deg);
    transform: scale(1.05) rotate3d(0, 0, 1, 2deg);
  }
  10%,
  15%,
  20% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, -2deg);
    transform: scale(1.05) rotate3d(0, 0, 1, -2deg);
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes joinClick {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  2.5%,
  5% {
    -webkit-transform: scale(0.95) rotate3d(0, 0, 1, -2deg);
    transform: scale(0.95) rotate3d(0, 0, 1, -2deg);
  }
  7.5%,
  12.5%,
  17.5%,
  22.5% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, 2deg);
    transform: scale(1.05) rotate3d(0, 0, 1, 2deg);
  }
  10%,
  15%,
  20% {
    -webkit-transform: scale(1.05) rotate3d(0, 0, 1, -2deg);
    transform: scale(1.05) rotate3d(0, 0, 1, -2deg);
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.userInfo {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
}
.userInfo-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 200%;
  opacity: 0;
  padding: 0.6rem 0.98666667rem;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
}
.userInfo-box .input-title {
  width: 8.2rem;
  height: 1.05333333rem;
  color: #fff;
  background: #2b69b6;
  font-size: 0.6rem;
  position: absolute;
  top: 1.36rem;
  font-family: '微软雅黑';
  font-style: italic;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 98% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 98% 100%, 0% 100%);
  text-align: left;
  line-height: 1rem;
  margin-bottom: 0.13333333rem;
}
.userInfo-box .input-title span {
  font-size: 0.74666667rem;
  margin-left: 0.37333333rem;
}
.userInfo-box .userInfo-title {
  width: 1.54666667rem;
  color: #001c58;
  font-size: 0.37333333rem;
  padding-bottom: 0.08rem;
  border: 1px solid transparent;
  border-bottom: 1px solid #A0A0A0;
}
.userInfo-box .userInfo-tip {
  font-size: 0.28rem;
  margin-top: 2.26666667rem;
  margin-bottom: 0.26666667rem;
}
.userInfo-box .input-form {
  box-sizing: border-box;
  width: 8.10666667rem;
  margin-top: 4.16rem;
  margin-left: -0.06666667rem;
}
.userInfo-box .input-form li.red {
  border: 1px solid #c01c1c;
  -webkit-box-shadow: 0 0 2px #c01c1c;
  -moz-box-shadow: 0 0 2px #c01c1c;
  box-shadow: 0 0 2px #c01c1c;
}
.userInfo-box .input-form li {
  box-sizing: border-box;
  border: 1px solid #A0A0A0;
  width: 100%;
  height: 0.74666667rem;
  margin-bottom: 0.21333333rem;
  font-size: 0.29333333rem;
  position: relative;
}
.userInfo-box .input-form li span {
  color: #fff;
  position: absolute;
  left: -0.04rem;
  top: -0.01333333rem;
  width: 1.48rem;
  height: 0.73333333rem;
  line-height: 0.73333333rem;
  text-align: center;
  background: #2b69b6;
}
.userInfo-box .input-form li input {
  padding-left: 1.52rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.userInfo-box .input-form li select {
  float: right;
  -webkit-padding-left: 1.50666667rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 6.58666667rem;
  height: 100%;
  background: transparent;
  border-radius: 0;
  color: #999;
}
.userInfo-box .input-form li.province-city {
  border: 0;
  width: 100%;
}
.userInfo-box .input-form li.province-city select.ddlProvince {
  float: left;
  box-sizing: border-box;
  width: 3.94666667rem;
  margin-right: 0.13333333rem;
  height: 0.66666667rem;
  border: 1px solid #A0A0A0;
}
.userInfo-box .input-form li.province-city select.ddlCity {
  float: right;
  box-sizing: border-box;
  width: 3.94666667rem;
  height: 0.66666667rem;
  border: 1px solid #A0A0A0;
}
.userInfo-box .input-form li.province-city:after {
  content: '';
  display: none;
  clear: both;
}
.userInfo-box .input-form-right,
.userInfo-box .input-form-right img {
  float: right;
  width: 8.12rem;
  height: 3.18666667rem;
}
.userInfo-box .btn-userInfo {
  box-sizing: border-box;
  float: right;
  width: 8.12rem;
  margin-top: 0.30666667rem;
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  margin-bottom: 0.30666667rem;
  position: relative;
}
.userInfo-box .btn-userInfo p {
  position: absolute;
  top: 0;
  right: 1.52rem;
  width: 5.28rem;
  height: 100%;
  color: #336fb9;
  font-size: 0.34666667rem;
  text-align: center;
  border: solid #336fb9 1.5px;
}
.userInfo-box a#rule-icon {
  float: right;
  text-align: right;
  width: 8.12rem;
  font-size: 0.30666667rem;
  color: #434343;
  text-decoration: underline;
}
.action-rules {
  padding: 0.6rem 0.66666667rem;
  box-sizing: border-box;
  position: absolute;
  width: 7.70666667rem;
  height: 12.58666667rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background: #fff;
  overflow: hidden;
  -webkit-box-shadow: 0 0 7px #ccc;
  -moz-box-shadow: 0 0 7px #ccc;
  box-shadow: 0 0 7px #ccc;
  border: solid #E9E9E9 1px;
  -webkit-box-shadow: 0 0 7px #000;
  -moz-box-shadow: 0 0 7px #000;
  box-shadow: 0 0 7px #000;
  border-radius: 8px;
}
.action-rules #close-rules {
  position: absolute;
  top: 5px;
  right: 5px;
}
.action-rules h1 {
  color: #061C57;
  font-size: 0.48rem;
  margin-bottom: 0.16rem;
}
.action-rules h2 {
  color: #000;
  text-decoration: underline;
  font-size: 0.4rem;
  margin: 0.16rem;
  margin-top: 0.34666667rem;
  text-align: left;
}
.action-rules h4 {
  color: #242424;
  font-size: 0.32rem;
  text-align: left;
  line-height: 180%;
}
.close {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 0.6rem;
  width: 1.2rem;
  height: 0.8rem;
  text-align: center;
  line-height: 0.8rem;
  color: #666;
}
.prize-result {
  box-sizing: border-box;
  width: 7.6rem;
  height: 4.53333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background: #fff;
  border: solid #E9E9E9 1px;
  -webkit-box-shadow: 0 0 7px #ccc;
  -moz-box-shadow: 0 0 7px #ccc;
  box-shadow: 0 0 7px #ccc;
  border-radius: 10px;
}
.prize-result .prize-result-info {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 0.86666667rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.prize-result .prize-result-info h1 {
  font-size: 0.48rem;
  text-align: center;
}
.prize-result .prize-result-info h1 i {
  display: inline-block;
  border-bottom: 1px solid #B28850;
  padding-bottom: 0.33333333rem;
  margin-bottom: 0.33333333rem;
}
.prize-result .prize-result-info p {
  font-size: 0.37333333rem;
  text-align: center;
}
.prize-result .prize-result-info .get {
  color: #890606;
}
.prize-result .prize-result-info .notGet {
  color: #2B69B6;
}
